/* Nav */
.nav-div a i {
    margin-right: 5px;
}

.notifications {
    padding: 2.5px;
    background-color: var(--text-color);
    color: #FFF;
    font-size: 8.25px;
    font-weight: 700;
    border-radius: 6px;
    margin-left: 4px;
}

/* Accueil */
.home-introduction-container {
    gap: 78px;
}

.home-introduction-container img {
    width: 404px;
}

.home-introduction-container .content-container {
    width: 330px;
    gap: 40px;
}

.home-introduction-container .text-container {
    gap: 16px;
}

.home-introduction-container .img-container {
    gap: 12px
}

.tiny-grey-text {
    color: var(--secondary-text-color);
    font-size: 12px;
}

.books-introduction-container,
.steps-introduction-container {
    gap: 48px;
}

.books-introduction-container h2 {
    margin-bottom: 32px;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.books-introduction-container>p {
    text-align: center;
}

.books-container,
.steps-container {
    gap: 38px;
}

.book-card {
    background-color: #fff;
    width: 200px;
    border-bottom-left-radius: var(--main-radius);
    border-bottom-right-radius: var(--main-radius);
    box-shadow: var(--box-shadow);
}

.book-card-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.book-card-content {
    padding: 20px 14px;
    gap: 22px;
}

.book-card-infos {
    gap: 8px
}

.one-line-clipped-text,
.clipped-review {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /*line-clamp: 1;*/
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-card-author,
.book-card-owner,
.book-basic-infos p,
.profile-avatar-container label,
.profile-infos>p,
.profile-form label,
.label,
.book-form label,
.breadcrumb-link,
.message-context .conversation-message-time {
    color: var(--secondary-text-color);
}

.book-card-author,
.profile-avatar-container label,
.profile-infos>p,
.library-content p,
.profile-form label,
.label,
.book-form label,
.breadcrumb-link {
    font-size: 14px;
}

.book-card-owner {
    font-size: 10px;
    font-style: italic;
}

.steps-introduction-title-div {
    width: 400px;
    gap: 24px;
}

.step-card {
    background-color: #fff;
    width: 215px;
    padding: 44px 18px;
    border-radius: var(--main-radius);
}

.step-card p {
    font-size: 14px;
}

.bg-img-section {
    padding: 0;
    background-image: url('../img/darwin-vegher-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
}

.values-section {
    padding-bottom: 0;
}

.values-container {
    gap: 32px;
    width: 392px;
    padding-bottom: 160px;
}

.values-text {
    line-height: 1;
    font-weight: 300;
}

.heart-svg {
    right: -70px;
    bottom: 70px;
}


/* Page "Nos livres à l'échange" */
.books-section,
.profile-section {
    min-height: 85vh;
}

.search-bar-container {
    flex-direction: row;
    justify-content: space-between;
}

.search-bar {
    width: 322px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #F0F0F0;
    padding: 17px 12px;
    background-color: #FFF;
    gap: 12px;
    transition: all 0.3s;
}

.search-bar:focus-within {
    box-shadow: var(--box-shadow);
}

.search-input {
    font-size: 14px;
    color: var(--text-color);
    border: none;
    outline: none;
    flex: 1;
}

.search-input::placeholder {
    color: var(--secondary-text-color);
}

.search-bar button {
    border: none;
    background-color: transparent;
}


/* Page présentation livre */
.whole-page-section {
    padding: 0;
}

.one-sided-container {
    flex-direction: row;
    gap: 85px;
    align-items: center;
    margin: auto;
}

.left-container {
    transform: translateX(-75px);
}

.right-container {
    transform: translateX(75px);
}

.book-presentation-img-container,
.book-presentation-img {
    width: 720px;
    height: 863px;
}

.book-presentation-img {
    object-fit: cover;
}

.book-details {
    padding: 80px 0;
    gap: 32px;
}

.book-details .btn {
    margin-top: 48px;
}

.book-basic-infos,
.book-description-container,
.book-owner-container {
    gap: 16px;
}

.separator {
    width: 27px;
    height: 1px;
    background-color: var(--secondary-text-color);
}

.column-title {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.book-description,
.book-owner-username {
    font-size: 14px;
}

.book-owner {
    background-color: #FFF;
    border-radius: 50px;
    padding: 6px 17px 6px 6px;
    gap: 12px;
    transition: all 0.3s;
}

.book-owner-img {
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.book-owner-img-overlay {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: var(--btn-color);
    opacity: 0;
    z-index: 1;
}

.book-owner-username,
.book-owner-img-overlay {
    transition: all 0.3s;
}

.book-owner-img,
.book-owner-img-overlay {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.book-owner:hover .book-owner-img-overlay {
    opacity: 0.7;
}

.book-owner:hover .book-owner-username {
    color: var(--btn-color);
    font-weight: 500;
}

.book-details a.btn {
    width: 100%;
    text-align: center;
}

/* Page erreur */
.error-section {
    height: 85vh;
}

.error-section .container {
    gap: 80px;
}

.error-container,
.error-message-container {
    gap: 48px;
}

.error-container-side p {
    color: var(--btn-color);
    font-size: 120px;
    font-family: "Playfair Display", serif;
    text-align: center;
    line-height: 1;
}

.error-message-container p {
    font-size: 24px;
}

/* Page inscription et connexion */
.login-signup-content {
    padding: 80px 0;
    gap: 56px;
    width: 322px;
}

.signup-login-form {
    gap: 32px;
}

.signup-login-form div {
    gap: 10px;
}

.signup-login-form label {
    font-size: 14px;
    color: var(--secondary-text-color)
}

.signup-login-form input {
    outline: none;
    border: none;
    width: 100%;
}

.signup-login-form input[type="text"],
.signup-login-form input[type="email"],
.signup-login-form input[type="password"] {
    height: 50px;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    padding: 0 14px;
}

.wrong-form-text {
    gap: 4px;
}

.wrong-form-text a,
.wrong-form-text p {
    font-size: 14px;
}

.wrong-form-text a {
    text-decoration: underline;
}

/* Page "Mon compte */

.profile-container {
    gap: 32px;
}

.profile-container h1,
.book-form-container h1 {
    font-size: 26px;
}

.profile-infos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
}

.profile-infos-card,
.books-table {
    background-color: #fff;
    border-radius: var(--secondary-radius);
}

.profile-infos-card {
    padding: 36px 116px;
    gap: 48px;
}

.profile-line {
    width: 242px;
    height: 1px;
    background-color: var(--secondary-background-color);
}

.profile-avatar-container {
    gap: 5px;
}

.profile-avatar {
    object-fit: cover;
    border-radius: 50%;
    width: 135px;
    height: 135px;
}

.profile-avatar-container input,
.book-img-form input {
    display: none;
}

.profile-avatar-container label {
    text-decoration: underline;
}

.profile-avatar-container label:hover,
.book-img-form label:hover {
    cursor: pointer;
}

.profile-infos {
    gap: 12px;
}

.profile-infos h2 {
    font-size: 24px;
    font-weight: 400;
}

.profile-library-infos {
    margin-top: 10px;
    gap: 6px;
}

.library-content {
    gap: 6px;
}

.library,
.books-table th {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 8px;
}

.profile-form-container {
    gap: 26px;
}

.profile-form,
.book-form {
    gap: 32px;
}

.profile-form div,
.book-form div {
    gap: 10px;
}

.profile-form input:not(input[type=checkbox]),
.book-form input,
.book-form textarea,
.book-form select {
    outline: none;
    width: 100%;
}

.profile-form input:not(input[type=submit]),
.book-form input:not(input[type=submit]),
.book-form textarea,
.book-form select {
    font-size: 14px;
    height: 50px;
    border-radius: var(--main-radius);
    background-color: var(--accent-background-color);
    border: 1px solid #F0F0F0;
    padding: 14px 16px;
}

.profile-form #public {
    width: unset;
    height: unset;
}

.books-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.books-table thead {
    border-bottom: 1px solid var(--secondary-background-color);
}

.books-table th {
    padding: 32px 14px 8px;
    text-align: start;
}

.books-table tbody tr:nth-child(even) {
    background-color: var(--accent-background-color);
}

.books-table th:first-child,
.books-table tr td:first-child {
    padding-left: 66px;
}

.books-table th:last-child,
.books-table tr td:last-child {
    padding-right: 66px;
}

.books-table tr:last-child td:first-child {
    border-bottom-left-radius: var(--secondary-radius);
}

.books-table tr:last-child td:last-child {
    border-bottom-right-radius: var(--secondary-radius);
}

.books-table tbody td {
    font-size: 12px;
    padding: 26px 14px;
}

.books-table td img {
    width: 78px;
    height: 78px;
    object-fit: cover;
}

.clipped-review {
    font-style: italic;
    /*line-clamp: 4;*/
    -webkit-line-clamp: 4;
    font-size: 12px;
}

.books-table td a {
    text-decoration: underline;
}

.books-table td a:last-child {
    margin-left: 14px;
    color: #CB2D2D;
}

/* Page Compte public */

.user-profile-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 32px;
}

.user-profile-container .profile-infos-card {
    padding: 36px 63px;
}

/* Page édition d'un livre */

.book-form-container {
    gap: 23px;
}

.breadcrumb-link {
    top: -40px;
}

.book-form-block {
    padding: 56px 50px;
    border-radius: var(--secondary-radius);
    background-color: #FFF;
}

.book-img-form-container {
    gap: 10px;
}

.book-img {
    width: 488px;
    height: 488px;
    object-fit: cover;
}

.book-img-form label {
    font-size: 12px;
    text-decoration: underline;
}

.book-form {
    width: 435px;
}

.book-form textarea {
    height: fit-content;
    font-family: "Inter", sans-serif;
}

.book-form input.btn {
    border: none;
}

.alert-error ul {
    list-style: none;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.alert-error li {
    padding: 8px 16px;
    color: #AD1D00;
    background-color: rgba(197, 109, 109, 0.1);
    border-radius: 6px;
}

.alert-error li i {
    margin-right: 8px;
}