.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.w-fit-content {
    width: fit-content;
}

.h-fit-content {
    height: fit-content;
}

.w-auto {
    width: auto;
}

.h-auto {
    height: auto;
}